
/*
* Layout
*/
body{
	text-align: center;
	background-color: #1C100B;
	color: #a5a5a5;	
	margin: 0px;
	padding: 0px;
}

#page{
	width: 1080px;
	margin: 0px auto 0px auto;
	text-align: left;
}

#page-inner{
	margin: 0px;
}

#header{
	background: url(images/header.jpg) no-repeat 60px 0;
	width: 1020px;
	height: 200px;
	margin-right: 60px;
	position: relative;
	float: left;
}

#tabs{
	min-height: 6px;
	margin: 0px 60px;
	background-color: #2D2A29;
	clear: left;
	overflow-y: visible;
}

#logo-title{
	float: left;
	margin: 0px;
	padding: 0px;
}
#logo{
	float: left;
	margin: 0px;
	padding: 0px;
}

h1.site-name,
#site-name{
	display: none;
}

#main{
	margin: 50px 60px 50px 0px;
	clear: both;
}
#main-inner{
	position: relative;
	background: transparent url(images/bg-rsb.gif) repeat-y right bottom;
}

#content{
	width: 790px;
	margin: 0px;
	float: left;
}
#content-area{
	clear: both;
}

#content-inner{
	position: relative;
}

#content-inner div{
	margin-left: 60px;
}
#content-inner div div{
	margin-left: auto;
}

#sidebar-right{
	margin: 0;
	width: 200px;
	float: right;
	min-height: 500px;
}

#footer{
	margin: 0px 60px;
	padding-bottom: 50px;
}
#footer-inner{
	margin: 7px 0px 0px 0px
}





.content{
	margin: 0;
	clear: both;
}

.help{
	margin: 1em 0;
	clear: both;
	float: left;
}




/*
* Navbar / Primary Links
*/
#navbar{
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
}

#navbar ul{
	text-align: right;
}
#navbar ul li{
	background-color: #1C100B; 
	margin: 3.5px 0px;
	padding: 0px;
	float: right;
	clear: right;
}
#navbar ul li a{
	margin: 4px 2px 2px 3px;
	padding: 0px 5px;
	color: #ffffff;
	font-size: 13px;
	display: block;
	text-transform: capitalize;
}


/*
* Typography
*/

body, caption, th, td, input, textarea, select, option, legend, fieldset{
	font: 12px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1.title{
	font-size: 20px;
	font-weight: normal;
	color: #ffffff;
}
h2, h2 a, h2 a:visited, h2 a:active, h3{
	font-size: 16px;
	line-height: 20px;
	color: #232323;
	text-decoration: none;
	font-weight: bold;
	background: transparent;
	margin: 0px 0px 2px 0px;
	outline: none !important; 
}
#content h2.title,
#content h2.title a,
#content h1.title{
	font-size: 16px;
	line-height: 16px;
	color: #ffffff;
	background: #D95601;
	font-weight: normal;
	text-transform: capitalize;
}

#content h1.title,
#content h2.title{
	float: left;
	padding: 5px 10px;
	margin: 0 0 18px;
}


.title-wrapper{
	position: absolute;
	top: 10px;
	left: -60px;
	background: #572608;
	height: 26px;
}
.no-image .title-wrapper{
	top: 0px;
}

.title-prefix{
	width: 60px;
	float: left;
	display: block;
	text-align: center;
}
.title-prefix .posted{
	font-size: 16px;
	line-height: 26px;
	text-transform: uppercase;
	color: #963D04;
}

h2 a:hover{
	color: #97122B;
	background: transparent;
}

h3, #content h2{
	color: #ffffff;
}


a{
	color: #666666;
	text-decoration: none;
	outline: none;
}
a:hover{
	color: #D95601;
	text-decoration: none;
}
a img{
	text-decoration: none;
	background-image: none !important;
}

p{
	margin-top: 0px;
}




/*
* Content/Nodes
*/
.content .main-image{
	float: left;
	margin: 0px 10px 3px 0px;
}
.node{
	position: relative;
	clear: left;
	margin-bottom: 40px;
}
.no-image .content{
	padding-top: 40px;
}


ul.links li {
	padding: 0 0.6em 0 0;
}

ul.links li a{
	line-height: 22px;
}

.node_read_more{
	float: left;
}

.node_read_more a{
	width: 22px;
	height: 22px;
	text-indent: -999px;
	background: url(images/bg-readmore.png) no-repeat 0 0;
	overflow: hidden;
	float: left;
}



/*
* Comments
*/
.comment-unpublished {
	background-color: transparent;
	color: #aaaaaa;
}
.comment-unpublished h3 a{
	background: transparent;
	color: #aaaaaa;
}
#comments{
	margin-top: 1.6em;
}
#content h2#comments-title,
#content-area .box h2.title{
	font: 11px/16px Verdana, Gill Sans, Arial, sans-serif;
	color: #D15301;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0px;
	background: transparent;
	padding: 0;
}

.comment{
	clear: both;
	margin: 1em 0 3em;
}

.comment-picture{
	width: 48px;
	height: 48px;
	overflow: hidden;
	background: #241D1A;
	float: left;
}
.comment .submitted{
	float: left;
}
.comment .submitted .author{
	background: #D95601;
	color: #FFFFFF;
	padding: 2px 6px;
}
.comment .submitted .author a{
	color: #FFFFFF;
}
.comment .submitted .date,
.comment .submitted .time{
	font-size: 10px;
	line-height: 10px;
	padding: 4px 0 0 5px;
	text-transform: uppercase;
}

.comment .content{
	clear: none;
	margin-left: 180px !important;
}

.comment .content p{
	margin-top: 0px;
}

.comment .links{
	clear: both;
}


/*
* Pager
*/
.item-list ul.pager{
	background: #241D1A;
	color: #CC5101;
	text-transform: uppercase;
	height: 28px;
	margin: 40px 0 0;
}
.item-list ul.pager li{
	line-height: 28px;
	padding: 0 1em;
	margin: 0;
}
.item-list ul.pager a{
	color: #CC5101;
}


/*
* Search
*/
#edit-search-theme-form-1-wrapper{
	background: #241D1A;
	float: left;
	width: 175px;
	height: 25px;
	margin: 0px;
}
#edit-search-theme-form-1{
	background: transparent;
	padding: 0px;
	margin: 5px 8px 0px;
	border: none;
	height: 25px;
	color: #666666;
	font-size: 12px;
}



/*
* Blocks
*/
#sidebar-right,
#sidebar-right a{
  color: #666666;
}

#sidebar-right h2.title{
	font: 11px/16px Verdana, Gill Sans, Arial, sans-serif;
	color: #D15301;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0px 0px 2px 6px;
	margin: 0px;
}

div.edit a{
	color: #666666;
	font-size: 11.5px;
}
#sidebar-right #search-box{
	background: #1C100B;
	padding-bottom: 10px;
}

#sidebar-right .block{
	background: #1C100B;
	margin: 0px;
	padding-bottom: 20px;
}
#sidebar-right .block-inner{
	background: #1C100B;
	border-left: 3px solid #241D1A;
}

#sidebar-right .content{
	margin-left: 6px;
}

#sidebar-right .block ul{
	list-style-image: none;
	list-style: none;
	margin: 0px !important;
	padding: 0px !important;
}
#sidebar-right .block ul ul{
	border: none;
}
#sidebar-right li,
#sidebar-right li.collapsed,
#sidebar-right li.expanded{
	list-style-image: none;
	list-style-type: none !important;
}






#user-login-form{
	text-align: left;
}




/*
* Poll
*/
.poll .vote-form {
	text-align: left;
}
.poll .vote-form .choices{
	margin: 0 !important;
}
.poll .vote-form .choices .title{
	font-weight: normal;
}
.poll .bar{
	background: #241D1A;
}
.poll .bar .foreground{
	background-color: #572608;
}



/*
* Tables
*/
table caption{
	text-align: left;
}
thead tr{
	color: #dddddd;
	background-color: #2D2A29;
	border: 1px solid #2D2A29;
	font-weight: normal;
}
tr.even{
	background-color: #2D2A29;
	border: 1px solid #241D1A;
}
tr.odd{
	background-color: #241D1A;
	border: 1px solid #241D1A;
}
tbody{
	border-top: 1px solid #666666;
}
td, th{
	padding: 2px 5px 1px;
}
td.active,
tr.watchdog-page-not-found .active,
tr.watchdog-access-denied .active,
tr.watchdog-user .active{
	background-color: transparent;
}
td.menu-disabled{
	background-color: #999999;
}
table.system-status-report th{
	border-bottom: 1px solid #595959;
}
.update-status tr.warning{
	background-color: #FFAC1B;
}
.update-status tr.warning .version-recommended{
	background-color: #E09E2A;
}
.update-status tr.ok{
	background-color: #006633;
}
.update-status tr.error{
	background-color: #AF495C;
}
.update-status tr.error .version-recommended{
	background-color: #9A4051;
}
.update-status tr td{
	border-bottom: 1px solid #666666;
}
tr.dblog-page-not-found .active,
tr.dblog-access-denied .active{
	background: #572608;
}
tr.dblog-error .active{
	background: #CA5001;
}
tr.dblog-content .active{
	background: transparent;
}



/*
* Tabs
*/
ul.primary{
	text-transform: uppercase;
	color: #999999;
}
ul.primary li.active a,
ul.primary li.active a:hover{
	background: #453B37;
	color: #cccccc;
}
ul.primary li a .tab{
	background-color: transparent;
	background-image: none !important;
	margin: 0;
	padding: 2px 12px 0px;
}
ul.primary li.active a .tab,
ul.primary li.active a:hover .tab{
	background: #453B37;
}
ul.primary li{
	margin: 0px 4px 0px 0px;
}
ul.primary li a{
	background-image: none;
	background:  transparent;
	font-weight: normal;
	color: #999999;
	padding: 0;
}
ul.primary li a:hover{
	background-image: none;
	background: transparent;
}
ul.primary{
	background: none;
	margin: 0px;
	padding: 0px;
}

ul.secondary{
	background: #453B37 !important;
	border: none;
}
ul.secondary a{
	background: transparent;
	border: none;
	color: #cccccc;
}
ul.secondary a:hover{
	background: #666666;
}
ul.secondary a.active,
ul.secondary a.active:hover{
	background: #666666;
	border: none;
	color: #cccccc;
}




/*
* Forms
*/
textarea{
	font-size: 12px;
}
.form-item .description{
	font-size: 11px;
}
.form-item{
	margin: 0.4em 0px;
}
input.form-text,
input.form-file{
	background: #241D1A;
	color: #A5A5A5;
	border: 1px solid #241D1A;
}
.resizable-textarea{
	width: 100%;
}
html.js .resizable-textarea textarea{
	border: 1px solid #453B37;
	background: #241D1A;
	color: #A5A5A5;
}
.resizable-textarea .grippie{
	background-color: #453B37;
	border-color: #453B37;
}
div.teaser-button-wrapper{
	padding-right: 0;
}
.marker, .form-required {
	color: #D95601;
}




/*
* Views Admin
*/
#views-ajax-pad form,
.views-tabset,
div.changed,
.views-display .tab-section .inside .views-category{
	background: transparent;
	border: 1px solid #888888;
}
.views-display .tab-section .inside .views-category-title,
.views-display .top,
#views-ajax-pad .form-buttons,
#views-ajax-title{
	background-color: #888888;
}
.views-display .tab-section .inside .views-category-title{
	border-bottom: none;
}
.views-tabset a:visited, .views-tabset a:hover, .views-tabset a{
	color: #333333;
}
.views-tabset .views-display{
	border: 1px solid #888888;
}
#views-ajax-title{
	border-left: 1px solid #888888;
	border-right: 1px solid #888888;
}
#views-ajax-pad .views-messages,
#views-ajax-pad form{
	border-color: -moz-use-text-color #888888 #888888;
}
form#views-add-display-form{
	border-bottom: 1px solid #888888;
}
.views-tabset .views-tabs{
	background: #888888;
	border-left: 1px solid #888888;
	border-top: 1px solid #888888;
	border-bottom: 1px solid #888888;
}
.views-tabset .views-tabs ul li.active{
	background-color: #666666;
}
.views-tabset .views-tabs ul li{
	background: transparent;
	border-bottom: 1px solid #999999;
}

div.messages, div.status, div.warning, div.error{
	margin: 0 0 10px 60px;
	clear: both;
	background-color: #241D1A;
	color: #666666;
	border-color: #572608;
}
div.messages a{
	color: #999999;
}






/*
* Views admin basics
*/
table.views-entry{
	background: transparent;
	border-color: #2D2A29;
}
table.views-entry td.view-name,
table.views-entry td.view-ops{
	background: #2D2A29;
}










/*
* Misc
*/
fieldset{
	border: 1px solid #444444;
}
span.admin-enabled{
	color: #33CC66;
}
.clear{
	clear: both;
}
li.leaf{
	list-style-image: none;
	list-style-type: none;
}
br.clear{
	clear: both;
}
body.admin-menu{
	margin-top: 0px !important;
}
#admin-menu ul a{
	background: none;
}

